body {
  margin: 0;
}

header {
  background: #212994;
  padding: 15px;
}

nav {
  background: #500C7D;
  padding: 10px;
}

.grid-container{
    display: grid; width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
    min-height: 100vh;
}

main {
    width: 100%;
  background: linear-gradient(to right, #1d0087, #d30020);
  padding: 10px;
}

footer {
  background: #500C7D;
  padding: 10px;
}
header, nav, aside, main, footer {
  border: 2px solid black;
}
.nav {
display: grid;
  grid-template-columns: repeat(3, 1fr); 
  width: 98.7%;
}
.nav a {
  border: 2px solid black;
  background: #9b0116;
  
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100px; 
  text-decoration: none;
  color: black;
}

.foot {
display: grid;
  grid-template-columns: repeat(3, 1fr); 
  width: 98.7%;
}
.foot a {
  border: 2px solid black;
  background: #0D29D7;
  
  display: flex;
  align-items: center;
  justify-content: center;

  height: 60px; 
  text-decoration: none;
  color: black;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 2px solid black;
    padding: 10px;
}