body {
  margin: 0;
}

header {
  background: #212994;
  padding: 15px;
}

nav {
  background: #500C7D;
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 1fr; 
  min-height: 60vh;
}

aside {
  background: linear-gradient(to right,#1d0087 #920319);
  padding: 10px;
}

main {
  background: linear-gradient(to right, #1d0087, #d30020);
  padding: 10px;
}

footer {
  background: #500C7D;
  padding: 10px;
}
header, nav, aside, main, footer {
  border: 2px solid black;
}
.nav {
display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 98.7%;
}
.nav a {
  border: 2px solid black;
  background: #9b0116;
  
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100px;
  text-decoration: none;
  color: rgb(245, 199, 147);
}
.subnav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  height: 96%;
  background-image: url('pexels-anniroenkae-11394981.jpg');
    background-repeat: repeat;
}
.subnav div {
  background: #8c30c9;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.subnav a {
  color: rgb(245, 199, 147);
}

.foot {
display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 98.7%;
}
.foot a {
  border: 2px solid black;
  background: #0D29D7;
  
  display: flex;
  align-items: center;
  justify-content: center;

  height: 60px;
  text-decoration: none;
  color: rgb(245, 199, 147);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 2px solid black;
    padding: 10px;
}