

h1, h2, h3, h4, h5, h6 {
  color: rgb(245, 199, 147);
}


h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 18px;
}
button {
  background-color: rgb(250, 237, 221);
  color: white;
  border: none;
  padding: 10px 16px;
  color: black;
}
button:hover {
  background-color: rgb(245, 199, 147);
}
input:focus,
textarea:focus,
select:focus {
  background-color: #fff597;
}
li:last-child {
  font-style: italic;
}
body {
    background-image: url('pexels-anniroenkae-3435249.jpg');
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@media (min-width: 641px) {

    nav a {
        display: inline-block;
        margin-right: 10px;
    }

    body {
        margin-left: 64px;
        margin-right: 64px;
    }

    h1 { font-size: 60px; }
    h2 { font-size: 48px; }
    h3 { font-size: 32px; }
    h4 { font-size: 18px; }
}

@media (max-width: 640px) {

    nav {
        display: flex;
        flex-direction: column;
    }

    nav a {
        display: block;
        margin-bottom: 10px;
    }

    body {
        margin-left: 16px;
        margin-right: 16px;
    }

    h1 { font-size: 32px; }
    h2 { font-size: 26px; }
    h3 { font-size: 22px; }
    h4 { font-size: 18px; }
}